﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div id="reactapp"></div>
    <script src="bundles/main"></script>
</body>
</html>
